#first-div{
    background-color: rgb(206, 168, 241);
    text-align: center;
    z-index: 999;
    
}

#main-div{
    min-width: 20rem;
    width: 70vw;
    text-align: center;
    margin: auto;
}

#main-div > p{
    background-color: rgb(153, 208, 233);
    /* width: 300px; */
    
}

img{
    width: 130px;
}